* {
  background-color: #fffffe;
}

header h1 {
  text-align: center;
  font-size: 3rem;
  color: #0f0e17;
  line-height: 1.15;
  font-family: sans-serif;
  font-weight: 700;
}

main {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

img {
  float: left;
}

p {
  color: #2e2f3e;
  text-align: center;
  font-size: 1.4rem;
  font-family: sans-serif;
  line-height: 40px;
}

a {
  color: #e53170;
}

@media (max-width: 500px) {
  main {
    max-width: 80%;
  }

  img {
    float: right;
  }
}